<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Vendedores</span>
                    <button class="btn btn-success float-end" routerLink="/crear-vendedor">
                        Nuevo
                    </button>
                    <table class="table table-striped table-hover mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Especialidad</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Fecha Ingreso</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Juan</td>
                                <td>Administrador</td>
                                <td>3004569587</td>
                                <td></td>
                                <td>
                                    <i class="far fa-edit text-primary"></i>
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Vendedor</td>
                                <td>3129547326</td>
                                <td></td>
                                <td>
                                    <i class="far fa-edit text-primary"></i>
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>Analista</td>
                                <td>3105489612</td>
                                <td></td>
                                <td>
                                    <i class="far fa-edit text-primary"></i>
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>